---
import MainLayout from '../../layouts/MainLayout.astro';
import Navcss from './Navcss.astro';
---

<MainLayout title="css note">
  <div class="flex relative">
    <Navcss />
    <main class="ml-40 text-left mt-20">
      <h1 id="basic">basic</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quis
        vel magnam, error reprehenderit nihil, veniam rem aspernatur cupiditate
        temporibus, repellendus sapiente quas deleniti iure! Omnis sed labore
        optio tenetur. Ratione voluptates neque animi officiis incidunt numquam
        ipsum assumenda, id in est amet cumque modi voluptatibus, ducimus minus
        ullam, laborum quae unde quis corrupti veritatis perferendis error
        officia! Et, nesciunt? Nihil blanditiis quisquam, cupiditate vel, soluta
        quo porro deserunt provident repudiandae error consectetur totam quia
        eius iusto sunt quam maxime excepturi expedita? Quae repellat maiores,
        nisi enim dicta expedita porro? Ducimus aspernatur nisi ut tenetur
        accusantium commodi quasi rem natus enim, itaque, dolor eius. Delectus
        vel, voluptate dolor earum fugiat odio, mollitia quis eveniet neque,
        dicta ducimus quidem officia eaque. Rerum nam, soluta, placeat quos,
        ullam aperiam totam corrupti voluptates ab fugiat repellendus saepe sint
        ex delectus! Quas ducimus doloremque velit, autem facere quibusdam!
        Culpa iusto tempora eligendi fugiat excepturi. Perspiciatis eveniet
        quisquam enim tempora, corrupti dolor! Deleniti, iste? Pariatur,
        officia! Nostrum alias corporis distinctio explicabo, debitis eum, iure
        eveniet et sit illum quas ipsa esse accusamus a? Architecto, recusandae.
        Inventore sit optio alias. Vitae fuga aut nam reiciendis ullam, ea
        deserunt consequatur animi ipsum iusto delectus, tempore nesciunt
        repudiandae provident nostrum asperiores! Et veritatis repellat
        possimus, officia doloribus amet? Pariatur possimus iusto dignissimos
        adipisci ratione modi nostrum, earum iste quae ipsa consequatur itaque
        fugiat? Porro iusto recusandae, reprehenderit natus placeat suscipit
        possimus deleniti dolorum voluptate libero temporibus repudiandae enim?
        Eaque consequatur repellendus fugit maxime ut distinctio, praesentium,
        pariatur quas sequi accusantium laborum. Voluptatum commodi molestiae
        maxime! Incidunt, eius ad laudantium modi eaque debitis ipsum soluta
        ducimus magni eligendi eveniet? Quaerat aut nihil ratione itaque
        inventore tenetur dignissimos! Nostrum consequuntur molestiae sed
        possimus velit iure quidem inventore laborum neque et repudiandae, eos
        natus nemo aspernatur delectus tempora molestias veritatis nobis.
      </p>
      <h1 id="display">layout&position</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, magni in
        nostrum tempore vel, consequuntur impedit officiis, nam voluptates earum
        possimus alias facilis molestiae accusantium quas similique ducimus sed
        accusamus? Laborum dignissimos repellendus a quae perferendis velit
        cumque nostrum aliquam praesentium incidunt sit eaque qui quisquam, est
        pariatur beatae dolore ipsum maiores modi, delectus aperiam aut,
        eligendi reiciendis facere. Laborum. Nulla assumenda repellat cum
        temporibus culpa aspernatur placeat. Sunt velit nobis animi dignissimos
        dolores architecto, itaque aliquam unde voluptates incidunt quo odio
        consequuntur rem, minus vel quae tenetur ad recusandae. Rem quis eos ad,
        unde, inventore perspiciatis cumque quo dolorum nemo dolores repellat
        non eveniet, consectetur cum fuga ea nihil cupiditate laborum! Facilis
        numquam doloribus aperiam fugit rerum. Voluptatum, maiores. Labore
        expedita excepturi incidunt quidem ratione porro doloremque doloribus.
        Eum corporis fugiat, vitae possimus accusantium harum magnam explicabo
        quisquam, esse quaerat nihil alias ipsa doloremque laboriosam maiores
        provident qui dicta. Illo iure dolore officia? Ipsum optio corrupti
        nesciunt voluptatibus dolorem deleniti quas reiciendis repellat
        consequatur dignissimos itaque impedit repellendus aut blanditiis
        perspiciatis, at debitis alias. Quaerat labore neque esse temporibus.
        Nesciunt quo doloribus inventore iste ullam, vitae recusandae fugiat
        impedit facilis cum enim necessitatibus, magni autem magnam deleniti
        reprehenderit id, dolorem harum corporis consectetur. Sed libero
        voluptatem rerum molestiae praesentium. Soluta omnis, suscipit
        recusandae rem voluptatum consequatur harum cumque itaque sunt
        consequuntur corrupti totam voluptatem fugiat ad repudiandae. Tempora
        laborum impedit quo repellat quod magni suscipit deserunt eligendi
        veritatis fugit! Non, aut reiciendis. Vero omnis deserunt ex quia,
        temporibus quidem atque delectus necessitatibus aperiam ad voluptates
        sint, reprehenderit sapiente enim, voluptas molestias. Omnis, ut
        perferendis error non fugiat unde neque! Quis, dolor repellendus
        perspiciatis corrupti voluptates harum aliquid unde, eos dolorum illo
        libero omnis deleniti. A dolor nisi nulla cupiditate voluptate rem eum,
        repellendus, voluptates accusantium in quam provident perferendis.
      </p>
      <h1 id="advance">advance</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, magni in
        nostrum tempore vel, consequuntur impedit officiis, nam voluptates earum
        possimus alias facilis molestiae accusantium quas similique ducimus sed
        accusamus? Laborum dignissimos repellendus a quae perferendis velit
        cumque nostrum aliquam praesentium incidunt sit eaque qui quisquam, est
        pariatur beatae dolore ipsum maiores modi, delectus aperiam aut,
        eligendi reiciendis facere. Laborum. Nulla assumenda repellat cum
        temporibus culpa aspernatur placeat. Sunt velit nobis animi dignissimos
        dolores architecto, itaque aliquam unde voluptates incidunt quo odio
        consequuntur rem, minus vel quae tenetur ad recusandae. Rem quis eos ad,
        unde, inventore perspiciatis cumque quo dolorum nemo dolores repellat
        non eveniet, consectetur cum fuga ea nihil cupiditate laborum! Facilis
        numquam doloribus aperiam fugit rerum. Voluptatum, maiores. Labore
        expedita excepturi incidunt quidem ratione porro doloremque doloribus.
        Eum corporis fugiat, vitae possimus accusantium harum magnam explicabo
        quisquam, esse quaerat nihil alias ipsa doloremque laboriosam maiores
        provident qui dicta. Illo iure dolore officia? Ipsum optio corrupti
        nesciunt voluptatibus dolorem deleniti quas reiciendis repellat
        consequatur dignissimos itaque impedit repellendus aut blanditiis
        perspiciatis, at debitis alias. Quaerat labore neque esse temporibus.
        Nesciunt quo doloribus inventore iste ullam, vitae recusandae fugiat
        impedit facilis cum enim necessitatibus, magni autem magnam deleniti
        reprehenderit id, dolorem harum corporis consectetur. Sed libero
        voluptatem rerum molestiae praesentium. Soluta omnis, suscipit
        recusandae rem voluptatum consequatur harum cumque itaque sunt
        consequuntur corrupti totam voluptatem fugiat ad repudiandae. Tempora
        laborum impedit quo repellat quod magni suscipit deserunt eligendi
        veritatis fugit! Non, aut reiciendis. Vero omnis deserunt ex quia,
        temporibus quidem atque delectus necessitatibus aperiam ad voluptates
        sint, reprehenderit sapiente enim, voluptas molestias. Omnis, ut
        perferendis error non fugiat unde neque! Quis, dolor repellendus
        perspiciatis corrupti voluptates harum aliquid unde, eos dolorum illo
        libero omnis deleniti. A dolor nisi nulla cupiditate voluptate rem eum,
        repellendus, voluptates accusantium in quam provident perferendis.
      </p>
      <h1 id="animation">animation</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, magni in
        nostrum tempore vel, consequuntur impedit officiis, nam voluptates earum
        possimus alias facilis molestiae accusantium quas similique ducimus sed
        accusamus? Laborum dignissimos repellendus a quae perferendis velit
        cumque nostrum aliquam praesentium incidunt sit eaque qui quisquam, est
        pariatur beatae dolore ipsum maiores modi, delectus aperiam aut,
        eligendi reiciendis facere. Laborum. Nulla assumenda repellat cum
        temporibus culpa aspernatur placeat. Sunt velit nobis animi dignissimos
        dolores architecto, itaque aliquam unde voluptates incidunt quo odio
        consequuntur rem, minus vel quae tenetur ad recusandae. Rem quis eos ad,
        unde, inventore perspiciatis cumque quo dolorum nemo dolores repellat
        non eveniet, consectetur cum fuga ea nihil cupiditate laborum! Facilis
        numquam doloribus aperiam fugit rerum. Voluptatum, maiores. Labore
        expedita excepturi incidunt quidem ratione porro doloremque doloribus.
        Eum corporis fugiat, vitae possimus accusantium harum magnam explicabo
        quisquam, esse quaerat nihil alias ipsa doloremque laboriosam maiores
        provident qui dicta. Illo iure dolore officia? Ipsum optio corrupti
        nesciunt voluptatibus dolorem deleniti quas reiciendis repellat
        consequatur dignissimos itaque impedit repellendus aut blanditiis
        perspiciatis, at debitis alias. Quaerat labore neque esse temporibus.
        Nesciunt quo doloribus inventore iste ullam, vitae recusandae fugiat
        impedit facilis cum enim necessitatibus, magni autem magnam deleniti
        reprehenderit id, dolorem harum corporis consectetur. Sed libero
        voluptatem rerum molestiae praesentium. Soluta omnis, suscipit
        recusandae rem voluptatum consequatur harum cumque itaque sunt
        consequuntur corrupti totam voluptatem fugiat ad repudiandae. Tempora
        laborum impedit quo repellat quod magni suscipit deserunt eligendi
        veritatis fugit! Non, aut reiciendis. Vero omnis deserunt ex quia,
        temporibus quidem atque delectus necessitatibus aperiam ad voluptates
        sint, reprehenderit sapiente enim, voluptas molestias. Omnis, ut
        perferendis error non fugiat unde neque! Quis, dolor repellendus
        perspiciatis corrupti voluptates harum aliquid unde, eos dolorum illo
        libero omnis deleniti. A dolor nisi nulla cupiditate voluptate rem eum,
        repellendus, voluptates accusantium in quam provident perferendis.
      </p>
    </main>
  </div>
</MainLayout>
