---
---

<div class="fixed block top-20 m-1 md:flex md:flex-col mt-2">
  <div class="flex justify-between">
    <a href="#basic">basic</a>
    <button id="btnbasic">+</button>
  </div>
  <div class="flex justify-between">
    <a href="#display">layout&position</a>
    <button id="btnbasic">+</button>
  </div>
  <div class="flex justify-between">
    <a href="#advance">advance</a>
    <button id="btnbasic">+</button>
  </div>
  <div class="flex justify-between">
    <a href="#animation">animation</a>
    <button id="btnbasic">+</button>
  </div>
</div>
