---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from '../components/Footer.astro'
---

<MainLayout title="tech">
  <p class="text-red-400">this is tech</p>
  <Footer />
</MainLayout>