---
import linkedin from '../images/linkedin.svg'
import github from '../images/github.svg'
import facebook from '../images/facebook.svg'
import logo from '../images/logo.svg'

---
<footer class='w-full   text-center py-10 text-white bg-[#0f172a]' >
  <div class=" justify-center mx-11 mb-4 pb-3  border-b-[1px] border-[rgba(255,255,255,0.7)]">
    <a href="/" class="flex flex-col items-center justify-center " >
      <img src={logo} alt="logo" class=' font-[1000] scale-150  text-xl   bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent'/>
      <span class=' font-[1000] ml-1 scale-y-[0.85] text-xl  bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent'>Phil-tech </span>
    </a>
  </div>
  <div class='flex justify-center space-x-11 mx-4 mb-2 pb-2  '>
    <a href="https://www.linkedin.com/in/qigong-zhu-71628113b/" target="_blank">
      <div class="rounded-full  bg-white w-[24px] h-[24px]  justify-center items-center font-[1000]">in</div>
      <!-- <img src={linkedin} alt="" > -->
    </a>
    <a href="https://github.com/Zhuqigong-2021/" target="_blank">
      <img src={github} alt="" class="rounded-full p-1 bg-white">
    </a>
    <a href="https://github.com/Zhuqigong-2021/" target="_blank">
      <div class="rounded-full  bg-white w-[24px] h-[24px]  justify-center items-center font-[1000]">F</div> 
      <!-- <img src={facebook} alt="" class="rounded-full p-1 bg-white">  -->
    </a>
    
  
  </div>
  <small>Copyright &copy; <span id='copyright'></span> Phil_Z.Q.G | All rights reserved </small>
</footer>

<script>

  document.querySelector('#copyright').textContent = new Date().getFullYear().toString()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>