---
import github from "../images/github.svg";
---

<section
  id="portfolio"
  class="wave flex flex-col justify-center items-center text-center h-auto"
>
  <h1
    class="text-center showcase-text font-extrabold sm:max-w-[400px] md:max-w-[600px] md:text-[50px] text-[30px] mt-48 mb-24 flex-wrap mx-2"
  >
    My Creative <span
      class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent"
      >Portfolio</span
    >
    Section
  </h1>

  <div class="flex space-x-6 text-[10px] mb-4">
    <div
      class="font-semibold bg-white rounded-md my-10 hover:bg-[#0f172a] hover:text-white px-4 py-1"
    >
      Web App
    </div>
    <div
      class="font-semibold bg-white rounded-md my-10 hover:bg-[#0f172a] hover:text-white px-4 py-1"
    >
      M.E.R.N
    </div>
    <div
      class="font-semibold rounded-md my-10 bg-[#0f172a] text-white px-4 py-1"
    >
      All
    </div>
  </div>
  <div class="flex flex-col lg:flex-row lg:space-x-7">
    <!-- React E commerce card -->
    <div
      class="flex flex-col max-w-[300px] min-h-80 bg-white mb-20 lg:mb-48 rounded-md justify-center items-center"
    >
      <div
        class="relative m-4 mb-0 flex flex-col justify-center items-center h-72 rounded-t-md"
      >
        <a
          href="https://velvety-nasturtium-da270f.netlify.app/"
          class="overflow-hidden object-cover relative"
          target="_blank"
        >
          <img
            src="https://images.unsplash.com/photo-1513094735237-8f2714d57c13?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNob3BwaW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
            class="overflow-hidden object-cover relative rounded-t-md"
            width="100%"
            height="100%"
          />
        </a>

        <!-- github and play -->
        <div
          class="absolute bottom-0 right-0 left-0 h-1/2 bg-[rgba(0,0,0,0.5)] flex justify-between items-center px-5 opacity-0 hover:opacity-100 z-10"
        >
          <a
            href="https://github.com/Zhuqigong-2021/E-ComerceREACT"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <img src={github} alt="gitlink" class="p-1 bg-white" />
          </a>

          <a
            href="https://velvety-nasturtium-da270f.netlify.app/"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <div class="p-1 font-bold text-sm">Play</div>
          </a>
        </div>

        <h3
          class="font-bold bg-white absolute bottom-0 px-4 pt-2 rounded-t-md z-20"
        >
          Web.App
        </h3>
      </div>
      <p class="text-gray-500 text-sm">fullstack e-commerce react app</p>
    </div>
    <!-- Vue Quiz APP card -->
    <div
      class="flex flex-col max-w-[300px] min-h-80 bg-white mb-20 lg:mb-48 rounded-md justify-center items-center"
    >
      <div
        class="relative m-4 mb-0 flex flex-col justify-center items-center h-72 rounded-t-md"
      >
        <a
          href="https://illustrious-cascaron-fab96c.netlify.app/"
          class="overflow-hidden object-cover relative"
          target="_blank"
        >
          <img
            src="https://plus.unsplash.com/premium_photo-1678903394367-5ee2f13f3960?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cXVlc3Rpb25zfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
            class="overflow-hidden object-cover relative rounded-t-md"
            width="100%"
            height="100%"
          />
        </a>

        <!-- github and play -->
        <div
          class="absolute bottom-0 right-0 left-0 h-1/2 bg-[rgba(0,0,0,0.5)] flex justify-between items-center px-5 opacity-0 hover:opacity-100 z-10"
        >
          <a
            href="https://github.com/Zhuqigong-2021/vue-stackquiz"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <img src={github} alt="gitlink" class="p-1 bg-white" />
          </a>

          <a
            href="https://illustrious-cascaron-fab96c.netlify.app/"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <div class="p-1 font-bold text-sm">Play</div>
          </a>
        </div>
        <h3
          class="font-bold bg-white absolute bottom-0 px-4 pt-2 rounded-t-md z-20"
        >
          Web.App
        </h3>
      </div>
      <p class="text-gray-500 text-sm">front end vue quiz app</p>
    </div>
    <!-- https://moonlit-zabaione-76c398.netlify.app/ -->
    <!-- vanila Css Js App card-->

    <div
      class="flex flex-col max-w-[300px] min-h-80 bg-white mb-20 lg:mb-48 rounded-md justify-center items-center"
    >
      <div
        class="relative m-4 mb-0 flex flex-col justify-center items-center h-72 rounded-t-md"
      >
        <a
          href="https://moonlit-zabaione-76c398.netlify.app/"
          class="overflow-hidden object-cover relative"
          target="_blank"
        >
          <img
            src="https://images.unsplash.com/photo-1490971588422-52f6262a237a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZpbG18ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60"
            alt=""
            class="overflow-hidden object-cover relative rounded-t-md"
            width="100%"
            height="100%"
          />
        </a>
        <!-- github and play -->
        <div
          class="absolute bottom-0 right-0 left-0 h-1/2 bg-[rgba(0,0,0,0.5)] flex justify-between items-center px-5 opacity-0 hover:opacity-100 z-10"
        >
          <a
            href="https://github.com/Zhuqigong-2021/E-ComerceREACT"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <img src={github} alt="gitlink" class="p-1 bg-white" />
          </a>

          <a
            href="https://moonlit-zabaione-76c398.netlify.app/"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <div class="p-1 font-bold text-sm">Play</div>
          </a>
        </div>
        <h3
          class="font-bold bg-white absolute bottom-0 px-4 pt-2 rounded-t-md z-20"
        >
          Web.App
        </h3>
      </div>
      <p class="text-gray-500 text-sm">front end vanila css js app</p>
    </div>

    <!--Next.js shareMind  -->
    <div
      class="flex flex-col max-w-[300px] min-h-80 bg-white mb-20 lg:mb-48 rounded-md justify-center items-center"
    >
      <div
        class="relative m-4 mb-0 flex flex-col justify-center items-center h-72 rounded-t-md"
      >
        <a
          href="https://fastidious-gingersnap-e0bedc.netlify.app/"
          class="overflow-hidden object-cover relative"
          target="_blank"
        >
          <img
            src="https://plus.unsplash.com/premium_photo-1683120963435-6f9355d4a776?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fGFydGlmaWNpYWwlMjBpbnRlbGxpZ2VuY2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
            class="overflow-hidden object-cover relative rounded-t-md"
            width="100%"
            height="100%"
          />
        </a>
        <!-- github and play -->
        <div
          class="absolute bottom-0 right-0 left-0 h-1/2 bg-[rgba(0,0,0,0.5)] flex justify-between items-center px-5 opacity-0 hover:opacity-100 z-10"
        >
          <a
            href="https://github.com/Zhuqigong-2021/Share-mind-next13.4"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <img src={github} alt="gitlink" class="p-1 bg-white" />
          </a>

          <a
            href="https://fastidious-gingersnap-e0bedc.netlify.app/"
            class="h-10 w-10 rounded-full flex items-center justify-center bg-white"
            target="_blank"
          >
            <div class="p-1 font-bold text-sm">Play</div>
          </a>
        </div>
        <h3
          class="font-bold bg-white absolute bottom-0 px-4 pt-2 rounded-t-md z-20"
        >
          Web.App
        </h3>
      </div>
      <p class="text-gray-500 text-sm">fullstack next idea-shared app</p>
    </div>
  </div>
</section>

<style>
  .wave {
    /* clip-path: polygon(100% 0%, 0% 0% , 0.00% 98.01%, 1.18% 97.39%, 2.35% 96.66%, 3.53% 95.84%, 4.71% 94.95%, 5.88% 94.01%, 7.06% 93.04%, 8.24% 92.06%, 9.41% 91.11%, 10.59% 90.20%, 11.76% 89.35%, 12.94% 88.58%, 14.12% 87.92%, 15.29% 87.38%, 16.47% 86.97%, 17.65% 86.70%, 18.82% 86.58%, 20.00% 86.61%, 21.18% 86.79%, 22.35% 87.11%, 23.53% 87.58%, 24.71% 88.17%, 25.88% 88.87%, 27.06% 89.67%, 28.24% 90.55%, 29.41% 91.48%, 30.59% 92.45%, 31.76% 93.42%, 32.94% 94.38%, 34.12% 95.31%, 35.29% 96.17%, 36.47% 96.96%, 37.65% 97.64%, 38.82% 98.22%, 40.00% 98.66%, 41.18% 98.96%, 42.35% 99.12%, 43.53% 99.13%, 44.71% 98.98%, 45.88% 98.69%, 47.06% 98.26%, 48.24% 97.70%, 49.41% 97.02%, 50.59% 96.24%, 51.76% 95.38%, 52.94% 94.46%, 54.12% 93.50%, 55.29% 92.53%, 56.47% 91.56%, 57.65% 90.62%, 58.82% 89.74%, 60.00% 88.94%, 61.18% 88.22%, 62.35% 87.62%, 63.53% 87.15%, 64.71% 86.81%, 65.88% 86.62%, 67.06% 86.58%, 68.24% 86.68%, 69.41% 86.94%, 70.59% 87.34%, 71.76% 87.87%, 72.94% 88.53%, 74.12% 89.28%, 75.29% 90.12%, 76.47% 91.03%, 77.65% 91.98%, 78.82% 92.96%, 80.00% 93.93%, 81.18% 94.87%, 82.35% 95.77%, 83.53% 96.59%, 84.71% 97.33%, 85.88% 97.96%, 87.06% 98.47%, 88.24% 98.84%, 89.41% 99.06%, 90.59% 99.14%, 91.76% 99.07%, 92.94% 98.85%, 94.12% 98.48%, 95.29% 97.98%, 96.47% 97.35%, 97.65% 96.62%, 98.82% 95.80%, 100.00% 94.90%); */
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 15.18%,
      1% 15.26%,
      2% 15.28%,
      3% 15.24%,
      4% 15.15%,
      5% 15%,
      6% 14.79%,
      7% 14.52%,
      8% 14.21%,
      9% 13.84%,
      10% 13.43%,
      11% 12.98%,
      12% 12.49%,
      13% 11.97%,
      14% 11.42%,
      15% 10.84%,
      16% 10.24%,
      17% 9.64%,
      18% 9.02%,
      19% 8.4%,
      20% 7.78%,
      21% 7.17%,
      22% 6.57%,
      23% 6%,
      24% 5.44%,
      25% 4.92%,
      26% 4.43%,
      27% 3.97%,
      28% 3.56%,
      29% 3.2%,
      30% 2.88%,
      31% 2.61%,
      32% 2.4%,
      33% 2.25%,
      34% 2.15%,
      35% 2.11%,
      36% 2.13%,
      37% 2.2%,
      38% 2.34%,
      39% 2.53%,
      40% 2.77%,
      41% 3.07%,
      42% 3.42%,
      43% 3.82%,
      44% 4.25%,
      45% 4.73%,
      46% 5.24%,
      47% 5.79%,
      48% 6.36%,
      49% 6.95%,
      50% 7.55%,
      51% 8.17%,
      52% 8.79%,
      53% 9.41%,
      54% 10.02%,
      55% 10.62%,
      56% 11.21%,
      57% 11.77%,
      58% 12.3%,
      59% 12.81%,
      60% 13.27%,
      61% 13.7%,
      62% 14.08%,
      63% 14.41%,
      64% 14.69%,
      65% 14.92%,
      66% 15.1%,
      67% 15.22%,
      68% 15.28%,
      69% 15.28%,
      70% 15.22%,
      71% 15.1%,
      72% 14.93%,
      73% 14.7%,
      74% 14.42%,
      75% 14.09%,
      76% 13.71%,
      77% 13.29%,
      78% 12.82%,
      79% 12.32%,
      80% 11.79%,
      81% 11.23%,
      82% 10.64%,
      83% 10.04%,
      84% 9.43%,
      85% 8.81%,
      86% 8.19%,
      87% 7.57%,
      88% 6.97%,
      89% 6.38%,
      90% 5.81%,
      91% 5.26%,
      92% 4.75%,
      93% 4.27%,
      94% 3.83%,
      95% 3.43%,
      96% 3.08%,
      97% 2.78%,
      98% 2.54%,
      99% 2.34%,
      100% 2.21%
    );
    background-image: linear-gradient(
        to bottom,
        #f0f9ff 40%,
        rgba(186, 230, 253, 0.5),
        rgba(2, 132, 199, 0.5)
      ),
      url("https://images.unsplash.com/photo-1556010656-e60700d4c0d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 700px) {
    .wave {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0% 100%
          /* 100% 0%,
        0% 0%,
        0% 99.14%,
        1.18% 99.12%,
        2.35% 99.04%,
        3.53% 98.92%,
        4.71% 98.75%,
        5.88% 98.53%,
        7.06% 98.27%,
        8.24% 97.97%,
        9.41% 97.63%,
        10.59% 97.24%,
        11.76% 96.83%,
        12.94% 96.38%,
        14.12% 95.91%,
        15.29% 95.41%,
        16.47% 94.89%,
        17.65% 94.35%,
        18.82% 93.81%,
        20% 93.25%,
        21.18% 92.69%,
        22.35% 92.14%,
        23.53% 91.59%,
        24.71% 91.05%,
        25.88% 90.52%,
        27.06% 90.01%,
        28.24% 89.53%,
        29.41% 89.07%,
        30.59% 88.64%,
        31.76% 88.24%,
        32.94% 87.88%,
        34.12% 87.56%,
        35.29% 87.28%,
        36.47% 87.05%,
        37.65% 86.86%,
        38.82% 86.72%,
        40% 86.62%,
        41.18% 86.58%,
        42.35% 86.58%,
        43.53% 86.63%,
        44.71% 86.74%,
        45.88% 86.89%,
        47.06% 87.08%,
        48.24% 87.33%,
        49.41% 87.61%,
        50.59% 87.94%,
        51.76% 88.31%,
        52.94% 88.71%,
        54.12% 89.14%,
        55.29% 89.61%,
        56.47% 90.1%,
        57.65% 90.61%,
        58.82% 91.14%,
        60% 91.68%,
        61.18% 92.23%,
        62.35% 92.79%,
        63.53% 93.34%,
        64.71% 93.9%,
        65.88% 94.44%,
        67.06% 94.98%,
        68.24% 95.49%,
        69.41% 95.99%,
        70.59% 96.46%,
        71.76% 96.9%,
        72.94% 97.31%,
        74.12% 97.69%,
        75.29% 98.02%,
        76.47% 98.32%,
        77.65% 98.57%,
        78.82% 98.78%,
        80% 98.95%,
        81.18% 99.06%,
        82.35% 99.13%,
        83.53% 99.14%,
        84.71% 99.11%,
        85.88% 99.03%,
        87.06% 98.9%,
        88.24% 98.72%,
        89.41% 98.49%,
        90.59% 98.23%,
        91.76% 97.91%,
        92.94% 97.56%,
        94.12% 97.18%,
        95.29% 96.76%,
        96.47% 96.3%,
        97.65% 95.82%,
        98.82% 95.32%,
        100% 94.8% */
      );
      /* clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 15.18%,
        1% 15.26%,
        2% 15.28%,
        3% 15.24%,
        4% 15.15%,
        5% 15%,
        6% 14.79%,
        7% 14.52%,
        8% 14.21%,
        9% 13.84%,
        10% 13.43%,
        11% 12.98%,
        12% 12.49%,
        13% 11.97%,
        14% 11.42%,
        15% 10.84%,
        16% 10.24%,
        17% 9.64%,
        18% 9.02%,
        19% 8.4%,
        20% 7.78%,
        21% 7.17%,
        22% 6.57%,
        23% 6%,
        24% 5.44%,
        25% 4.92%,
        26% 4.43%,
        27% 3.97%,
        28% 3.56%,
        29% 3.2%,
        30% 2.88%,
        31% 2.61%,
        32% 2.4%,
        33% 2.25%,
        34% 2.15%,
        35% 2.11%,
        36% 2.13%,
        37% 2.2%,
        38% 2.34%,
        39% 2.53%,
        40% 2.77%,
        41% 3.07%,
        42% 3.42%,
        43% 3.82%,
        44% 4.25%,
        45% 4.73%,
        46% 5.24%,
        47% 5.79%,
        48% 6.36%,
        49% 6.95%,
        50% 7.55%,
        51% 8.17%,
        52% 8.79%,
        53% 9.41%,
        54% 10.02%,
        55% 10.62%,
        56% 11.21%,
        57% 11.77%,
        58% 12.3%,
        59% 12.81%,
        60% 13.27%,
        61% 13.7%,
        62% 14.08%,
        63% 14.41%,
        64% 14.69%,
        65% 14.92%,
        66% 15.1%,
        67% 15.22%,
        68% 15.28%,
        69% 15.28%,
        70% 15.22%,
        71% 15.1%,
        72% 14.93%,
        73% 14.7%,
        74% 14.42%,
        75% 14.09%,
        76% 13.71%,
        77% 13.29%,
        78% 12.82%,
        79% 12.32%,
        80% 11.79%,
        81% 11.23%,
        82% 10.64%,
        83% 10.04%,
        84% 9.43%,
        85% 8.81%,
        86% 8.19%,
        87% 7.57%,
        88% 6.97%,
        89% 6.38%,
        90% 5.81%,
        91% 5.26%,
        92% 4.75%,
        93% 4.27%,
        94% 3.83%,
        95% 3.43%,
        96% 3.08%,
        97% 2.78%,
        98% 2.54%,
        99% 2.34%,
        100% 2.21%
      ); */
    }
  }
</style>
